obc-card {
    --gap: var(--gap, 1rem);
    min-width: 300px;
}

.card-content {
    width: 100%;
    display: flex;
    padding: var(--gap);    
}

.card-content > * {
    flex: 1 1 50%;
    min-width: 0;
}

.controls {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-content: center;
}