.root {
  --gap: var(--default-gap, 2rem);
  min-width: 300px;
}

.card-content {
  width: 100%;
  display: flex;
  padding: var(--gap, 1rem);
}

.card-content > * {
  flex: 1 1 50%;
  min-width: 0;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-content: center;
}

.section-title {
  margin-bottom: 1rem;
  font-size: large;
  font-weight: bolder;
}

.recieved-message {
  border-bottom: 1px solid;
  border-bottom-color: var(--border-outline-color);
  padding-bottom: var(--gap);
  margin-bottom: var(--gap);
}