:root {
  --default-gap: 1rem;
  color-scheme: light;
  background: var(--container-backdrop-color);
  color: var(--element-active-color);  
}

:root[data-obc-theme="dusk"],
:root[data-obc-theme="night"] {
  color-scheme: dark;
}

html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - var(--default-gap) - var(--default-gap));
  box-sizing: border-box;
  margin: var(--default-gap);
  background: var(--container-backdrop-color);
  color: var(--element-active-color);
}

a {
  color: var(--element-active-color);
}